/* Sass Variables */
// $color_commitment:      rgba(255, 255, 255, 0.85);
// $color_task_wrap:       rgba(245, 245, 245, 0.5);
$color_commitment:      rgba(91, 104, 113, 0.85);
$color-task_wrap:       rgba(91, 104, 113, 0.50);
$color_commitment_text: #ccc;
$color_task_text:       #bbb;
$color_percentage_text: #eee;



/* Fonts */
@font-face {
	font-family: "Dense-Regular";
	src: url('../fonts/Dense-Regular/Dense-Regular.otf');
}
@font-face {
   font-family: "Roboto-Light";
   src: url('../fonts/Roboto/Roboto-Light.ttf');
   font-weight: normal;
   font-style: normal;
}



/* Default globals */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
	margin: 0;
	padding: 0;
	font-family: "Roboto-Light", "Helvetica", sans-serif;
}



/* Skeleton */
html {

	body {

		div.wrapper {
			position: fixed;
			width: 100%;
			z-index: 2;

			main.content {
				margin-right: auto;
				margin-left: auto;
				width: 90%;
				max-width: 1250px;
			}
		}
		div.background-effects {
			position: fixed;
			width: 100%;
			background: -webkit-linear-gradient(rgb(50, 87, 76), rgb(217, 186, 140), rgb(93, 65, 87));
			background: -o-linear-gradient(rgb(50, 87, 76), rgb(217, 186, 140), rgb(93, 65, 87));
			background: -moz-linear-gradient(rgb(50, 87, 76), rgb(217, 186, 140), rgb(93, 65, 87));
			background: linear-gradient(rgb(50, 87, 76), rgb(217, 186, 140), rgb(93, 65, 87));
			background-repeat: no-repeat;
			background-attachment: fixed;
			-webkit-filter: blur(2px);
			-moz-filter: blur(2px);
			-o-filter: blur(2px);
			-ms-filter: blur(2px);
			filter: blur(2px);
			-webkit-filter: contrast(1.2);
			-moz-filter: contrast(1.2);
			-o-filter: contrast(1.2);
			-ms-filter: contrast(1.2);
			filter: contrast(1.2);
			-webkit-filter: grayscale(0.1);
			-moz-filter: grayscale(0.1);
			-o-filter: grayscale(0.1);
			-ms-filter: grayscale(0.1);
			filter: grayscale(0.1);
			z-index: 1;
		}
	}
}



/* Login */
section#login {
	padding-top: 200px;
	text-align: center;

	form {
		margin-right: auto;
		margin-left: auto;
		padding: 30px 0 40px 0;
		width: 310px;
		background-color: #efefef;

		h1 {
			margin-bottom: 20px;
			font-family: "Dense-Regular";
			font-size: 55px;
			word-spacing: 3px;
			color: #333;
		}
		div {
			margin-right: auto;
			margin-bottom: 10px;
			margin-left: auto;
			padding: 5px;
			width: 243px;
			background-color: #fbfbfb;
			border: 1px solid #eee;

			i {
				display: inline-block;
				padding: 6px;
				width: 20px;
				color: #aaa;
				border-right: 1px solid #eee;
			}
			input {
				display: inline-block;
				width: 200px;
				font-size: 15px;
				color: #666;
				background-color: #fbfbfb;
				border: none;
				outline: none;
			}
		}
		> input {
			padding-top: 4px;
			width: 257px;
			height: 40px;
			font-family: "dense-regular";
			font-size: 25px;
			word-spacing: 1px;
			color: #fff;
			background-color: #056874;
			border: none;
			cursor: pointer;
		}
	}
}



/* Dashboard */
section#dashboard {
	margin-top: 40px;
	overflow: auto;

	section#dashboard-header {
		float: left;
	}
	section#dashboard-main {
		float: left;
	}
	section#dashboard-pane {
		float: right;
	}
}



/* Dashboard Header */
section#dashboard-header {
	width: calc(100% - 210px);
	background-color: rgba(0, 0, 0, 0.4);

	header {
		padding: 20px 30px;
		overflow: auto;

		h1 {
			float: left;
			font-weight: normal;
			color: #fff;
		}
		ul {
			float: right;

			li {
				display: inline-block;
				margin-left: 20px;
				cursor: pointer;

				i {
					font-size: 30px;
					color: rgba(130, 130, 130, 0.5);
				}
				nav {

					i {
						color: #fff;
					}
				}
			}
		}
	}
}



/* Dashboard Left Main */
section#dashboard-main {
	padding: 0 50px;
	width: calc(100% - 210px - 100px);
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: scroll;

	div.dashboard-main {
		box-shadow: 7px 0 17px #333, -7px 0 17px #333;

		> ul {
			list-style: none;

			> li {
				margin-bottom: 15px;
			}
			> li:last-child {
				margin-bottom: 0;
			}
		}
	}
}



/* Commitment */
li.commitment {
	width: 100%;
	box-shadow: 0 3px 7px #333;
	overflow: auto;

	div.commitment-header {
		padding: 20px;
		background-color: $color_commitment;
		border-bottom: 1px solid #444;
		overflow: auto;
		z-index: 50;

		div.left {
			float: left;

			i {
				display: inline-block;
				margin-right: 15px;
				vertical-align: middle;
				font-size: 9px;
			}
			h4 {
				display: inline-block;
				vertical-align: middle;
				font-weight: normal;
				font-size: 16px;
				color: $color_commitment_text;
			}
		}
		div.right {
			float: right;

			i {
				vertical-align: middle;
				font-size: 16px;
				color: rgba(48, 56, 64, 0.8);
			}
		}
	}
	div.tasks {
		float: left;
		width: calc(100% - 201px);
		border-right: 1px solid #444;
		font-size: 0;

		div.commitment-header {
			padding-right: 10px;

			div.left {

				i {
					color: #88db61;
				}
				h4 {
					margin-right: 15px;
				}
				form.add-task {
					display: inline-block;
					vertical-align: middle;
				}
			}
			div.right {
				position: relative;

				div.commitment-options {
					display: none;
				}
				i {
					padding: 0 10px;
					cursor: pointer;
				}
			}
			div.right.active {

				div.commitment-options {
					position: absolute;
					top: -7px;
					left: -28px;
					display: inline-block;
					padding: 5px 3px;
					width: 20px;
					background-color: rgba(50, 50, 50, 0.5);
					border-radius: 3px;

					button.commitment-delete {
						display: inline-block;
						vertical-align: top;
						width: 19px;
						height: 19px;
						color: #FA6B5B;
						background-color: #fff;
						border: none;
						border-radius: 50%;
						outline: none;
						cursor: pointer;
					}
					button.commitment-delete:active {
						color: #fff;
						background-color: #FA6B5B;
					}
				}
				div.commitment-options::after {
					position: absolute;
					top: 7px;
					left: 26px;
					width: 0;
					height: 0;
					border-top: 7px solid transparent;
					border-left: 8px solid rgba(50, 50, 50, 0.5);
					border-bottom: 7px solid transparent;
					content: "";
				}
				i {
					color: rgba(90, 90, 90, 0.8);
				}
			}
		}
		div.slide-button {
			display: inline-block;
			vertical-align: top;
			width: 30px;
			height: 170px;
			background-color: $color_commitment;
			cursor: pointer;
			-webkit-user-select: none; /* webkit (safari, chrome) browsers */
		    -moz-user-select: none; /* mozilla browsers */
		    -khtml-user-select: none; /* webkit (konqueror) browsers */
		    -ms-user-select: none; /* IE10+ */

			i {
				padding: 65px 9px;
				font-size: 30px;
				color: #aaa;
			}
		}
		div.slide-button:hover {

			i {
				color: #bbb;
			}
		}
		div.slide-button:active { background-color: darken($color_commitment, 6%); }
		div.move-left { border-right: 1px solid #444; }
		div.move-right { border-left: 1px solid #444; }
		div.task-list-wrapper {
			display: inline-block;
			width: calc(100% - 62px);
			height: 170px;
			background-color: $color_task_wrap;
			overflow-x: hidden;

			ul.task-list {
				position: relative;
				white-space: nowrap;
				font-size: 0;
				list-style: none;
			}
		}
	}
	div.progress {
		float: right;
		width: 200px;
		font-size: 0;

		div.commitment-header {

			div.left {

				i {
					color: #C363C5;
				}
			}
		}
		div.percentage {
			padding: 40px 20px;
			height: 90px;
			text-align: center;
			background-color: $color_commitment;

			h2 {
				font-weight: normal;
				font-size: 40px;
				color: $color_percentage_text;
			}
			h5 {
				font-weight: normal;
				font-size: 15px;
				color: $color_commitment_text;
			}
		}
	}
}



/* Task */
li.task {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 140px;
	height: 170px;
	background-color: $color_commitment;
	border-right: 1px solid #444;
	z-index: 100;

	div.task-options {
		display: none;
		float: right;
		margin: 15px 15px 0 0;

		button.task-delete {
			display: block;
			color: #FA6B5B;
			background-color: #fff;
			border: 1px solid #bbb;
			border-radius: 50%;
			outline: none;
			cursor: pointer;
		}
		button.task-delete:active {
			color: #fff;
			background-color: #FA6B5B;
			border-color: #FA6B5B;
		}
		input.task-toggle-checked {
			display: none;
		}
		input.task-toggle-checked + label {
			position: relative;
			display: block;
			margin-top: 5px;
			width: 19px;
			height: 19px;
			background-color: #fff;
			border: 1px solid #bbb;
			border-radius: 50%;
			cursor: pointer;
			-webkit-user-select: none; /* webkit (safari, chrome) browsers */
		    -moz-user-select: none; /* mozilla browsers */
		    -khtml-user-select: none; /* webkit (konqueror) browsers */
		    -ms-user-select: none; /* IE10+ */

			span {
				position: absolute;
				top: 2px;
				left: 5px;
				font-size: 11px;
				color: #8ad961;
			}
		}
		input.task-toggle-checked:checked + label {
			background-color: #8ad961;
			border-color: #8ad961;

			span {
				color: #fff;
			}
		}
	}
	span.text {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		padding: 15px 0 15px 15px;
		width: calc(100% - 55px);
		white-space: normal;
		word-wrap: break-word;
		font-size: 12px;
		color: $color_task_text;
		z-index: 100;
	}
	div.task-age {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 50;
	}
}
li.task.active {
	background-color: #fff;

	div.task-options {
		display: block;
	}
	span.text {
		color: #444;
	}
}



/* Add Task */
form.add-task {

	input {
		padding: 4px 7px 4px 10px;
		color: #ccc;
		background-color: rgba(120, 120, 120, 0.8);
		border: none;
		border-radius: 10px;
		outline: none;
	}
	input:hover {
		background-color: rgba(125, 125, 125, 0.8);
	}
	input:focus {
		background-color: rgba(110, 110, 110, 0.8);
	}
}



/* Add Commitment */
form.add-commitment {

	input {
		padding: 5px 7px;
		width: 125px;
		font-size: 15px;
		color: #666;
		background-color: transparent;
		border: none;
		border-radius: 7px;
		outline: none;
	}
	input:focus {
		background-color: #eee;
	}
}



/* Dashboard Right Pane */
section#dashboard-pane {

	div.pane {
		width: 210px;
		background-color: #fcfcfc;

		div.pane-item {
			padding: 20px;
			border-bottom: 1px solid #dfdfdf;
		}
		div.pane-content {
			background-color: #efefef;
		}
		div.pane-content.pane-header {
			color: #969696;

			img {
				display: inline-block;
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
			i {
				float: right;
				margin-left: 10px;
				vertical-align: top;
				font-size: 30px;
				cursor: pointer;
			}
			i:hover {
				opacity: 0.7;
			}
			h2 {
				margin-top: 20px;
				font-weight: normal;
				font-size: 18px;
			}
		}
		div.pane-content.pane-commitments {

			ul {
				list-style: none;

				li {
					margin-bottom: 15px;
					cursor: pointer;

					i {
						margin-right: 24px;
						vertical-align: middle;
						font-size: 13px;
						color: #56ddbf;
					}
					span {
						text-transform: uppercase;
						font-size: 15px;
						color: #969696;
					}
				}
				li:hover {

					span {
						color: #bbb;
					}
				}
			}
		}
		div.pane-section-header {
			color: #666;
			background-color: #fcfcfc;

			i {
				display: inline-block;
				vertical-align: middle;
				margin-right: 14px;
				font-size: 15px;
			}
			h3 {
				display: inline-block;
				vertical-align: middle;
				font-weight: normal;
			}
		}
		div.new-commitment:hover {

			i {
				color: #888;
			}
		}
	}
}


