/* Fonts */
@font-face {
  font-family: "Dense-Regular";
  src: url("../fonts/Dense-Regular/Dense-Regular.otf"); }
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-weight: normal;
  font-style: normal; }
/* Default globals */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0;
  font-family: "Roboto-Light", "Helvetica", sans-serif; }

/* Skeleton */
html body div.wrapper {
  position: fixed;
  width: 100%;
  z-index: 2; }
  html body div.wrapper main.content {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 1250px; }
html body div.background-effects {
  position: fixed;
  width: 100%;
  background: -webkit-linear-gradient(#32574c, #d9ba8c, #5d4157);
  background: -o-linear-gradient(#32574c, #d9ba8c, #5d4157);
  background: -moz-linear-gradient(#32574c, #d9ba8c, #5d4157);
  background: linear-gradient(#32574c, #d9ba8c, #5d4157);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  -webkit-filter: contrast(1.2);
  -moz-filter: contrast(1.2);
  -o-filter: contrast(1.2);
  -ms-filter: contrast(1.2);
  filter: contrast(1.2);
  -webkit-filter: grayscale(0.1);
  -moz-filter: grayscale(0.1);
  -o-filter: grayscale(0.1);
  -ms-filter: grayscale(0.1);
  filter: grayscale(0.1);
  z-index: 1; }

/* Login */
section#login {
  padding-top: 200px;
  text-align: center; }
  section#login form {
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0 40px 0;
    width: 310px;
    background-color: #efefef; }
    section#login form h1 {
      margin-bottom: 20px;
      font-family: "Dense-Regular";
      font-size: 55px;
      word-spacing: 3px;
      color: #333; }
    section#login form div {
      margin-right: auto;
      margin-bottom: 10px;
      margin-left: auto;
      padding: 5px;
      width: 243px;
      background-color: #fbfbfb;
      border: 1px solid #eee; }
      section#login form div i {
        display: inline-block;
        padding: 6px;
        width: 20px;
        color: #aaa;
        border-right: 1px solid #eee; }
      section#login form div input {
        display: inline-block;
        width: 200px;
        font-size: 15px;
        color: #666;
        background-color: #fbfbfb;
        border: none;
        outline: none; }
    section#login form > input {
      padding-top: 4px;
      width: 257px;
      height: 40px;
      font-family: "dense-regular";
      font-size: 25px;
      word-spacing: 1px;
      color: #fff;
      background-color: #056874;
      border: none;
      cursor: pointer; }

/* Dashboard */
section#dashboard {
  margin-top: 40px;
  overflow: auto; }
  section#dashboard section#dashboard-header {
    float: left; }
  section#dashboard section#dashboard-main {
    float: left; }
  section#dashboard section#dashboard-pane {
    float: right; }

/* Dashboard Header */
section#dashboard-header {
  width: calc(100% - 210px);
  background-color: rgba(0, 0, 0, 0.4); }
  section#dashboard-header header {
    padding: 20px 30px;
    overflow: auto; }
    section#dashboard-header header h1 {
      float: left;
      font-weight: normal;
      color: #fff; }
    section#dashboard-header header ul {
      float: right; }
      section#dashboard-header header ul li {
        display: inline-block;
        margin-left: 20px;
        cursor: pointer; }
        section#dashboard-header header ul li i {
          font-size: 30px;
          color: rgba(130, 130, 130, 0.5); }
        section#dashboard-header header ul li nav i {
          color: #fff; }

/* Dashboard Left Main */
section#dashboard-main {
  padding: 0 50px;
  width: calc(100% - 210px - 100px);
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll; }
  section#dashboard-main div.dashboard-main > ul {
    list-style: none; }
    section#dashboard-main div.dashboard-main > ul > li {
      margin-bottom: 20px; }

/* Commitment */
li.commitment {
  width: 100%;
  overflow: auto; }
  li.commitment div.commitment-header {
    padding: 20px;
    background-color: rgba(205, 205, 205, 0.8);
    border-bottom: 1px solid #444;
    overflow: auto;
    z-index: 50; }
    li.commitment div.commitment-header div.left {
      float: left; }
      li.commitment div.commitment-header div.left i {
        display: inline-block;
        margin-right: 15px;
        vertical-align: middle;
        font-size: 9px;
        color: #60d3d3; }
      li.commitment div.commitment-header div.left h4 {
        display: inline-block;
        vertical-align: middle;
        font-weight: normal;
        font-size: 16px;
        color: #444; }
    li.commitment div.commitment-header div.right {
      float: right; }
      li.commitment div.commitment-header div.right i {
        vertical-align: middle;
        font-size: 16px;
        color: rgba(48, 56, 64, 0.8); }
  li.commitment div.tasks {
    float: left;
    width: calc(100% - 201px);
    border-right: 1px solid #444;
    font-size: 0; }
    li.commitment div.tasks div.commitment-header div.left i {
      color: #60d3d3; }
    li.commitment div.tasks div.commitment-header div.left h4 {
      margin-right: 15px; }
    li.commitment div.tasks div.commitment-header div.left form.add-task {
      display: inline-block;
      vertical-align: middle; }
    li.commitment div.tasks div.commitment-header div.right {
      position: relative; }
      li.commitment div.tasks div.commitment-header div.right div.commitment-options {
        display: none; }
      li.commitment div.tasks div.commitment-header div.right i {
        cursor: pointer; }
    li.commitment div.tasks div.commitment-header div.right.active div.commitment-options {
      position: absolute;
      top: -16px;
      left: -40px;
      display: inline-block;
      padding: 5px 3px;
      width: 20px;
      background-color: rgba(50, 50, 50, 0.5);
      border-radius: 3px; }
      li.commitment div.tasks div.commitment-header div.right.active div.commitment-options button.commitment-delete {
        display: inline-block;
        margin-bottom: 5px;
        vertical-align: top;
        width: 19px;
        height: 19px;
        color: #FA6B5B;
        background-color: #fff;
        border: none;
        border-radius: 50%;
        outline: none;
        cursor: pointer; }
      li.commitment div.tasks div.commitment-header div.right.active div.commitment-options button.commitment-delete:active {
        color: #fff;
        background-color: #FA6B5B; }
      li.commitment div.tasks div.commitment-header div.right.active div.commitment-options input.commitment-toggle-checked {
        display: none; }
      li.commitment div.tasks div.commitment-header div.right.active div.commitment-options input.commitment-toggle-checked + label {
        position: relative;
        display: inline-block;
        width: 19px;
        height: 19px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        -webkit-user-select: none;
        /* webkit (safari, chrome) browsers */
        -moz-user-select: none;
        /* mozilla browsers */
        -khtml-user-select: none;
        /* webkit (konqueror) browsers */
        -ms-user-select: none;
        /* IE10+ */ }
        li.commitment div.tasks div.commitment-header div.right.active div.commitment-options input.commitment-toggle-checked + label span {
          position: absolute;
          top: 2px;
          left: 5px;
          font-size: 11px;
          color: #8ad961; }
      li.commitment div.tasks div.commitment-header div.right.active div.commitment-options input.commitment-toggle-checked:checked + label {
        background-color: #8ad961; }
        li.commitment div.tasks div.commitment-header div.right.active div.commitment-options input.commitment-toggle-checked:checked + label span {
          color: #fff; }
    li.commitment div.tasks div.commitment-header div.right.active div.commitment-options::after {
      position: absolute;
      top: 12px;
      left: 26px;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-left: 10px solid rgba(50, 50, 50, 0.5);
      border-bottom: 12px solid transparent;
      content: ""; }
    li.commitment div.tasks div.commitment-header div.right.active i {
      color: rgba(90, 90, 90, 0.8); }
    li.commitment div.tasks div.slide-button {
      display: inline-block;
      vertical-align: top;
      width: 30px;
      height: 170px;
      background-color: rgba(205, 205, 205, 0.8);
      cursor: pointer;
      -webkit-user-select: none;
      /* webkit (safari, chrome) browsers */
      -moz-user-select: none;
      /* mozilla browsers */
      -khtml-user-select: none;
      /* webkit (konqueror) browsers */
      -ms-user-select: none;
      /* IE10+ */ }
      li.commitment div.tasks div.slide-button i {
        padding: 65px 9px;
        font-size: 30px;
        color: #555; }
    li.commitment div.tasks div.slide-button:hover i {
      color: #888; }
    li.commitment div.tasks div.slide-button:active {
      background-color: rgba(130, 130, 130, 0.8); }
    li.commitment div.tasks div.move-left {
      border-right: 1px solid #444; }
    li.commitment div.tasks div.move-right {
      border-left: 1px solid #444; }
    li.commitment div.tasks div.task-list-wrapper {
      display: inline-block;
      width: calc(100% - 62px);
      height: 171px;
      background-color: rgba(185, 185, 185, 0.5);
      overflow-x: hidden; }
      li.commitment div.tasks div.task-list-wrapper ul.task-list {
        position: relative;
        white-space: nowrap;
        font-size: 0;
        list-style: none; }
  li.commitment div.progress {
    float: right;
    width: 200px;
    font-size: 0; }
    li.commitment div.progress div.commitment-header div.left i {
      color: #88db61; }
    li.commitment div.progress div.percentage {
      padding: 40px 20px;
      height: 90px;
      text-align: center;
      background-color: rgba(205, 205, 205, 0.8); }
      li.commitment div.progress div.percentage h2 {
        font-weight: normal;
        font-size: 40px;
        color: #555; }
      li.commitment div.progress div.percentage h5 {
        font-weight: normal;
        font-size: 15px;
        color: #444; }

/* Task */
li.task {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 140px;
  height: 170px;
  background-color: rgba(205, 205, 205, 0.8);
  border-right: 1px solid #444;
  z-index: 100; }
  li.task div.task-options {
    display: none;
    float: right;
    margin: 15px 15px 0 0; }
    li.task div.task-options button.task-delete {
      display: block;
      color: #FA6B5B;
      background-color: #fff;
      border: 1px solid #bbb;
      border-radius: 50%;
      outline: none;
      cursor: pointer; }
    li.task div.task-options button.task-delete:active {
      color: #fff;
      background-color: #FA6B5B;
      border-color: #FA6B5B; }
    li.task div.task-options input.task-toggle-checked {
      display: none; }
    li.task div.task-options input.task-toggle-checked + label {
      position: relative;
      display: block;
      margin-top: 5px;
      width: 19px;
      height: 19px;
      background-color: #fff;
      border: 1px solid #bbb;
      border-radius: 50%;
      cursor: pointer;
      -webkit-user-select: none;
      /* webkit (safari, chrome) browsers */
      -moz-user-select: none;
      /* mozilla browsers */
      -khtml-user-select: none;
      /* webkit (konqueror) browsers */
      -ms-user-select: none;
      /* IE10+ */ }
      li.task div.task-options input.task-toggle-checked + label span {
        position: absolute;
        top: 2px;
        left: 5px;
        font-size: 11px;
        color: #8ad961; }
    li.task div.task-options input.task-toggle-checked:checked + label {
      background-color: #8ad961;
      border-color: #8ad961; }
      li.task div.task-options input.task-toggle-checked:checked + label span {
        color: #fff; }
  li.task span.text {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 15px 0 15px 15px;
    width: calc(100% - 55px);
    white-space: normal;
    word-wrap: break-word;
    font-size: 12px;
    color: #555;
    z-index: 100; }
  li.task div.task-age {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #725da2;
    z-index: 50; }

li.task.active {
  background-color: #fff; }
  li.task.active div.task-options {
    display: block; }
  li.task.active span.text {
    color: #444; }

/* Add Task */
form.add-task input {
  padding: 4px 7px 4px 10px;
  color: #bbb;
  background-color: rgba(100, 100, 100, 0.8);
  border: none;
  border-radius: 10px;
  outline: none; }
form.add-task input:hover {
  background-color: rgba(105, 105, 105, 0.8); }
form.add-task input:focus {
  background-color: rgba(90, 90, 90, 0.8); }

/* Add Commitment */
form.add-commitment input {
  padding: 5px 7px;
  width: 125px;
  font-size: 15px;
  color: #666;
  background-color: transparent;
  border: none;
  border-radius: 7px;
  outline: none; }
form.add-commitment input:focus {
  background-color: #eee; }

/* Dashboard Right Pane */
section#dashboard-pane div.pane {
  width: 210px;
  background-color: #fcfcfc; }
  section#dashboard-pane div.pane div.pane-item {
    padding: 20px;
    border-bottom: 1px solid #dfdfdf; }
  section#dashboard-pane div.pane div.pane-content {
    background-color: #efefef; }
  section#dashboard-pane div.pane div.pane-content.pane-header {
    color: #969696; }
    section#dashboard-pane div.pane div.pane-content.pane-header img {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%; }
    section#dashboard-pane div.pane div.pane-content.pane-header i {
      float: right;
      margin-left: 10px;
      vertical-align: top;
      font-size: 30px;
      cursor: pointer; }
    section#dashboard-pane div.pane div.pane-content.pane-header i:hover {
      opacity: 0.7; }
    section#dashboard-pane div.pane div.pane-content.pane-header h2 {
      margin-top: 20px;
      font-weight: normal;
      font-size: 18px; }
  section#dashboard-pane div.pane div.pane-content.pane-commitments ul {
    list-style: none; }
    section#dashboard-pane div.pane div.pane-content.pane-commitments ul li {
      margin-bottom: 27px;
      cursor: pointer; }
      section#dashboard-pane div.pane div.pane-content.pane-commitments ul li i {
        margin-right: 24px;
        vertical-align: middle;
        font-size: 13px;
        color: #56ddbf; }
      section#dashboard-pane div.pane div.pane-content.pane-commitments ul li span {
        text-transform: uppercase;
        font-size: 15px;
        color: #969696; }
    section#dashboard-pane div.pane div.pane-content.pane-commitments ul li:hover span {
      color: #bbb; }
  section#dashboard-pane div.pane div.pane-section-header {
    color: #666;
    background-color: #fcfcfc; }
    section#dashboard-pane div.pane div.pane-section-header i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 14px;
      font-size: 15px; }
    section#dashboard-pane div.pane div.pane-section-header h3 {
      display: inline-block;
      vertical-align: middle;
      font-weight: normal; }
  section#dashboard-pane div.pane div.new-commitment:hover i {
    color: #888; }

/*# sourceMappingURL=style.css.map */
