/* Fonts */
@font-face {
	font-family: "Dense-Regular";
	src: url('../fonts/Dense-Regular/Dense-Regular.otf');
}
@font-face {
   font-family: "Roboto-Light";
   src: url('../fonts/Roboto/Roboto-Light.ttf');
   font-weight: normal;
   font-style: normal;
}



/* Default globals */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
	margin: 0;
	padding: 0;
	font-family: "Roboto-Light", "Helvetica", sans-serif;
}



/* Skeleton */
html {
	width: 100%;

	body {
		width: 100%;

		div.background-image {
			position: fixed;
			width: 100%;
			background-image: url('/img/jr-background.png');
		    background-repeat: no-repeat;
		    background-attachment: fixed;
		    background-size: 500px 500px;
		    background-position: center;
			z-index: 1;
		}
		div.background-gradient {
			position: fixed;
			width: 100%;
			background: -webkit-linear-gradient(rgba(215, 221, 232, 0.8), rgba(117, 127, 154, 0.5));
			background: -webkit-linear-gradient(rgba(215, 221, 232, 0.8), rgba(117, 127, 154, 0.5));
			background: -o-linear-gradient(rgba(215, 221, 232, 0.8), rgba(117, 127, 154, 0.5));
			background: -moz-linear-gradient(rgba(215, 221, 232, 0.8), rgba(117, 127, 154, 0.5));
			background: linear-gradient(rgba(215, 221, 232, 0.8), rgba(117, 127, 154, 0.5));
			z-index: 2;
		}
		div.wrapper {
			position: fixed;
			margin-right: auto;
			margin-left: auto;
			width: 1250px;
			z-index: 3;
		}
	}
}



/* Login */
section#login {
	padding-top: 200px;
	text-align: center;

	form {
		margin-right: auto;
		margin-left: auto;
		padding: 30px 0 40px 0;
		width: 310px;
		background-color: rgba(246, 246, 246, 0.8);

		h1 {
			margin-bottom: 20px;
			font-family: "Dense-Regular";
			font-size: 55px;
			word-spacing: 3px;
			color: #333;
		}
		div {
			margin-right: auto;
			margin-bottom: 10px;
			margin-left: auto;
			padding: 5px;
			width: 243px;
			background-color: #fbfbfb;
			border: 1px solid #eee;

			i {
				display: inline-block;
				padding: 6px;
				width: 20px;
				color: #aaa;
				border-right: 1px solid #eee;
			}
			input {
				display: inline-block;
				width: 200px;
				font-size: 15px;
				color: #666;
				background-color: #fbfbfb;
				border: none;
				outline: none;
			}
		}
		> input {
			padding-top: 4px;
			width: 257px;
			height: 40px;
			font-family: "dense-regular";
			font-size: 25px;
			word-spacing: 1px;
			color: #fff;
			background-color: #056874;
			border: none;
			cursor: pointer;
		}
	}
}

section#right-pane {
	float: right;

	div.pane {
		width: 210px;
		background-color: #fcfcfc;

		div.pane-item {
			padding: 20px;
			border-bottom: 1px solid #dfdfdf;
		}
		div.pane-content {
			background-color: #efefef;
		}
		div.pane-content.pane-header {
			color: #969696;

			img {
				display: inline-block;
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
			i {
				float: right;
				margin-left: 10px;
				vertical-align: top;
				font-size: 30px;
			}
			h2 {
				margin-top: 20px;
				font-weight: normal;
				font-size: 18px;
			}
		}
		div.pane-content.pane-commitments {

			ul {
				list-style: none;

				li {
					margin-bottom: 27px;
					cursor: pointer;

					i {
						margin-right: 24px;
						vertical-align: middle;
						font-size: 13px;
						color: #56ddbf;
					}
					span {
						text-transform: uppercase;
						font-size: 15px;
						color: #969696;
					}
				}
				li:hover {

					span {
						color: #bbb;
					}
				}
			}
		}
		div.pane-section-header {
			color: #666;
			background-color: #fcfcfc;

			i {
				display: inline-block;
				margin-right: 14px;
				font-size: 15px;
			}
			h3 {
				display: inline-block;
				font-weight: normal;
				font-size: 15px;
			}
		}
	}
}