<!-- APPLICATION TEMPLATES -->



<!-- Layout (iron router) -->
<template name="layout">
	<div class="background-effects"></div>
	<div class="wrapper">
		<main class="content">
			{{> yield}}
		</main>
	</div>
</template>

<!-- Login route -->
<template name="login">
	<section id="login">
		<form id="login-form" action="action">
			<h1>LET'S BE PRODUCTIVE.</h1>
			<div>
				<i class="fa fa-user"></i>
				<input type="email" id="login-email" placeholder="Email" spellcheck="false"/>
			</div>
			<div>
				<i class="fa fa-key"></i>
				<input type="password" id="login-password" placeholder="Password" />
			</div>
			<input type="submit" id="login-button" value="SIGN IN" />
		</form>
	</section>
</template>

<!-- Registration route -->
<template name="register">
	<h1>Register</h1>
	<form id="register-form" action="action">
		<div>
			<input type="email" id="account-email" placeholder="email" />
			<input type="password" id="account-password" placeholder="password" />
			<input type="submit" id="create-account" value="Create an account" />
		</div>
	</form>
</template>

<!-- Dashboard route-->
<template name="dashboard">
	<section id="dashboard">
		{{> dashboardHeader}}
		{{> dashboardPane}}
		{{> dashboardMain}}	
	</section>
</template>

<!-- Dashboard header -->
<template name="dashboardHeader">
	<section id="dashboard-header">
		<header>
			<h1>Hey, Jon!</h1>
			<ul>
				<li><i class="fa fa-search"></i></li>
				<li>
					<nav>
						<i class="fa fa-bars"></i>
					</nav>
				</li>
			</ul>
		</header>
	</section>
</template>

<!-- Dashboard left main -->
<template name="dashboardMain">
	<section id="dashboard-main">
		<div class="dashboard-main">
			<ul>
				{{#each commitments}}
					{{> commitment}}
				{{/each}}
			</ul>
		</div>
	</section>
</template>

<!-- Dashboard right pane -->
<template name="dashboardPane">
	<section id="dashboard-pane">
		<div class="pane">
			<div class="pane-item pane-content pane-header">
				<img src="/img/user.jpg" />
				<i id="logout" class="fa fa-sign-out"></i>
				<i class="fa fa-cog"></i>
				<h2>Menu</h2>
			</div>
			<div class="pane-item pane-section-header new-commitment">
				<i class="fa fa-plus"></i>
				<h3>{{> addCommitment}}</h3>
			</div>
			<div class="pane-item pane-content pane-commitments">
				<ul>
					{{#each commitments}}
						<li><i class="fa fa-circle-thin"></i><span>{{commitmentName}}</span></li>
					{{/each}}
				</ul>
			</div>
		</div>
	</section>
</template>

<!-- Commitment item -->
<template name="commitment">
	<li id="{{commitmentName}}" class="commitment">
		<div class="tasks">
			<div class="commitment-header">
				<div class="left">
					<i class="fa fa-circle"></i>
					<h4>{{commitmentName}}</h4>
					{{> addTask}}
				</div>
				<div class="right">
					<div class="commitment-options">
						<button class="commitment-delete">&times;</button>
					</div>
					<i class="fa fa-ellipsis-v"></i>
				</div>
			</div>
			<div class="move-left slide-button"><i class="fa fa-angle-left"></i></div>
			<div class="task-list-wrapper">
				<ul class="task-list" style="left: 0">
					{{#each tasks}}
						{{> task}}
					{{/each}}
				</ul>
			</div>
			<div class="move-right slide-button"><i class="fa fa-angle-right"></i></div>
		</div>
		<div class="progress">
			<div class="commitment-header">
				<div class="left">
					<i class="fa fa-circle"></i>
					<h4>Progress</h4>
				</div>
				<div class="right">
					<i class="fa fa-ellipsis-v"></i>
				</div>
			</div>
			<div class="percentage">
				<h2>{{progress}}</h2>
				<h5>Complete</h5>
			</div>
		</div>
	</li>
</template>

<!-- Add commitment form -->
<template name="addCommitment">
	<form class="add-commitment">
		<input type="text" name="commitment" placeholder="COMMITMENTS" />
	</form>
</template>

<!-- Add task form -->
<template name="addTask">
	<form class="add-task">
		<input type="text" name="task" placeholder="Add a new task" />
	</form>
</template>

<!-- Task item -->
<template name="task">
	<li class="task">
		<div class="task-options">
			<button class="task-delete">&times;</button>
			<input type="checkbox" checked="{{checked}}" id="task-toggle-checked-{{task}}" class="task-toggle-checked" />
			<label for="task-toggle-checked-{{task}}"><span>&#10003;</span></label>
		</div>
		<span class="text">{{task}}</span>
		<div class="task-age"></div>
	</li>
</template>